<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Lately</title>
</head>
<body style="background-color: #FF9900;">
    <a href="/">
        <img class="logo" src="http://i.imgur.com/Pn12Byf.png" style="margin: auto;
                                margin-top: 220px;
                                text-align: center;
                                display: block;">
    </a>
    <h1 class="message" style="text-align: center;
                                color: #CF2034;
                                font-family: Helvetica,serif;
                                font-size: 40pt;">OH CRAP, I'M LATE</h1>
    <div class="button" onclick="window.location='{{ link }}';" style="width: 20%;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: red;
    cursor: pointer;">
        <h2 class="action" style="text-align: center;
                                    font-family: Helvetica,serif;
                                    font-size: 30pt;
                                    color: white;">LOG IN</h2>
    </div>
</body>
</html>