<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <title>Lately</title>
</head>
<body style="background-color: #FF9900;">
    <a href="/">
        <img class="logo" src="http://i.imgur.com/Pn12Byf.png" style="margin: auto;
                                margin-top: 220px;
                                text-align: center;
                                display: block;">
    </a>
    <h1 class="message" style="text-align: center;
                                color: #CF2034;
                                font-family: Helvetica,serif;
                                font-size: 40pt;">SUCCESS</h1>
    <h2 class="action" style="text-align: center;
                                    font-family: Helvetica,serif;
                                    font-size: 30pt;
                                    color: white;">NOW GO SLEEP IN</h2>
</body>
</html>